@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

  
body {
    text-align: center;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    color: black;
    text-align: center;
    padding: 15px;
}
h3 {
    color: #fff !important;
   text-align: center;
   font-family: serif;
   margin: auto;
}
p {
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
div {
    overflow: hidden;
}
#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar {
    padding: 0;
    background: #fff;
    
}
#nav-bar > nav > a {
    font-family: 'Lobster', cursive;
    color: #6c3c80;
    
}
.navbar-brand img {
    width: 50px;
    height: 50px;
    padding: 5px;
}
.nav-link {
    font-family:'Abril Fatface', cursive !important;
    color: #6c3c80 !important;
}
span .navbar-toggler-icon {
    font-size: 20px;
    color: #6E8F66 !important;
}
.header {
background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .3)), url("images/background-img.jpg");  
height: 100vh;
width: 100%;
background-size: cover;
background-position: top;
    position: relative;
}



#contact {
padding: 20px;

}
h1.banner-txt {
    color: #fff !important;
    margin: auto;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Abril Fatface', cursive;
   font-size: 4rem;
   animation-name: moveinleft;
animation-duration: 1s;
animation-timing-function: ease-out;
   display: block;
   padding-top: 200px;
   padding-bottom: 70px; 
}
.banner-sm {
    display: block;
    max-width: 300px;
    margin: auto;
    padding-top: 50px;
    animation: moveinright 1s ease-out;
}

#banner > div > button {
    display: block;
    max-width: 300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    animation: header 3s 1 0s ease-in-out;
}
#about-me {
    margin-top: 30px;
}
#about-me img  {
    display: inline-block;
    width: 400px;
    height: 500px;
    text-align: center;
  }

.about-p {
   margin-top: 30px;
   text-align: center;
   margin-bottom: 30px;
 
}

#services {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("images/crystal-background.png");
    width: 100%;  
    height: 100%;
    background-size: contain;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.services-heading {
    color: #fff;
}
.services-p {
    color: #fff;
}
.card-text {
    text-align: center;
    
}
.card-title {
    text-align: center;
    padding-top: 25px;
} 
a.btn {
    background: #6c3c80;
    color: #fff !important;
    padding: 0.8rem 1.8rem;
    display: block;
  max-width: 200px;
  margin: auto;
  text-transform: uppercase;
  animation: moveinbutton .5s ease-out .75s;
     animation-fill-mode: backwards;
  
}
.btn:hover {
    opacity: 0.8;
}

.testimonial {
    background-color: #fff;
    padding-bottom: 30px;
    width: 100%;
    height: 100vh;
}
#testimonials {
  padding-top: 30px;
}
#carousel-example-1 > a.carousel-control-next.right.carousel-control > i {
    color: gray;
    font-size: 40px;
}
#carousel-example-1 > a.carousel-control-next.right.carousel-control {
    height: 100px;
}
#carousel-example-1 > a.carousel-control-prev.left.carousel-control > i {
    color: gray;
    font-size: 40px;
}

#carousel-example-1 > a.carousel-control-prev.left.carousel-control {
    height: 100px;
}


.yellow-text {
    color: goldenrod;
}
.img-fluid {
   width: 150px;
   height: 150px;
}
a.carousel-control-next.right.carousel-control > span.sr-only {
    color: black !important;
}
#gallery {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("images/crystal-background.png");
    width: 100%;  
    height: 100%;
    background-size: contain;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}


#gallery.img-thumbnail.img-gallery {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

#gallery h1 {
    color: #fff;
}
#contact {
    width: 100%;  
    height: 100%;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}


@media(max-width:945px) {
    a.btn {
        margin-bottom: 25px;
      }
      
  }
 
@media(max-width:758px) {
    
    a.btn {
      margin-bottom: 25px;
    }
    .card {
        margin-bottom: 0;
    }
  }
 


  @keyframes moveinleft {
    0% {
     opacity: 0;
     transform: translateX(-10rem);
    }
 80% {
     transform: translateX(1rem);
 }    
 100% {
 opacity: 1;
 transform: translate(0);
 }
 
 
 
 }
 @keyframes moveinright {
     0% {
      opacity: 0;
      transform: translateX(10rem);
     }
  80% {
      transform: translateX(-1rem);
  }    
  100% {
  opacity: 1;
  transform: translate(0);
  }
  }
  @keyframes moveinbutton {
     0% {
      opacity: 0;
      transform: translateY(3rem);
     }  
  100% {
  opacity: 1;
  transform: translate(0);
  }
  }